.custom-head{
    margin-top: 20px;
    background-color: lightblue;
}

.custom-input{
    padding: 10px 50px;
    border-radius: 10px;
    border: 1px solid gray;
}
.food-div{
    border: 1px solid lightblue;
    width: 300px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}
.food-div img{
    width: 100px;
}
#food-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}
#more-info img{
    width: 200px;
}